@model Models.Entities.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WholesalePrice)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src=@Model.Image class="ProductImage" height="200" width="200" />
        </dd>

    </dl>
</div>
<p>
   @if (User.IsInRole("Administrator"))
   {
       @Html.ActionLink("Edit", "Edit", new
       {
           id = Model.Id
       }) 
   }
         @Html.ActionLink("Back to List", "Index")



    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))

    {

            <div class="form-horizontal">

                <hr />
                <div class="form-group">
                    <label for="review-description"></label>
                    <div class="col-md-10">
                        <input type="number" id="amount" class="form-control" name="amount" value="1" />
                    </div>
                </div>
                <input type="hidden" name="ProductId" value=@Model.Id />
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add to cart" class="btn btn-default" />
                    </div>
                </div>
            </div>
    }



</p>

@foreach (var item in Model.Reviews)
{
    @item.Description    
    <a href=@("/Review/Delete/"+item.Id)>Delete</a>
    <br/>
}

@using (Html.BeginForm("Create","Review",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        <div class="form-group">
            <label for="review-description"></label>
            <div class="col-md-10">
                <input id="review-description" class="form-control" name="Description" placeholder="Comment here"/>
            </div>
        </div>
        <input type="hidden" name="ProductId" value=@Model.Id />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
