@model Models.Entities.Order

@{

    ViewBag.Title = "Wat Pha Som: Checkout";

}

<h2>Check out now</h2>

Please enter your details, and we'll ship your goods right away!

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>FirstName: @Html.EditorFor(x => x.FirstName)</div>
    <div>LastName: @Html.EditorFor(x => x.LastName)</div>
    <div>Address: @Html.EditorFor(x => x.Address)</div>
    <div>Email: @Html.EditorFor(x => x.Email)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>State: @Html.EditorFor(x => x.State)</div>
    <div>Postal code: @Html.EditorFor(x => x.PostalCode)</div>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    <div>Phone: @Html.EditorFor(x => x.Phone)</div>
    <div>Credit card: @Html.EditorFor(x => x.CreditCard)</div>
    <div>Expiration date: @Html.EditorFor(x => x.Experation)</div>
    <div>Credit card type: @Html.EditorFor(x => x.CcType)</div>
 
    <div>Save?: @Html.EditorFor(x => x.SaveInfo)</div>
    

        @Html.AntiForgeryToken()
        <input type="submit" value="Check out" />
    }

}