@model Models.ViewModels.CartIndexViewModel
@{

    ViewBag.Title = "Sports Store: Your Cart";

}


<h2>Your cart</h2>

<table align="center">

    <thead>
        <tr>

            <th align="center">Quantity</th>

            <th align="left">Item</th>

            <th align="right">Price</th>

            <th align="right">Subtotal</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var line in Model.Cart.Lines)
        {

            <tr>
                <td align="center">

                    @using (Html.BeginForm("UpdateLine", "Cart", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="number" class="form-control" name="newQuantity" value=@line.Quantity />
                                </div>
                            </div>
                            <input type="hidden" name="ProductId" value=@line.Product.Id />
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {

                        <input type="hidden" name="ProductId" value=@line.Product.Id />

                        <input class="actionButtons" type="submit"
                               value="Remove" />

                    }
                </td>

                <td align="left">@line.Product.Name</td>

                @if (User.IsInRole("Wholesale"))
                {
                    <td align="right">@line.Product.WholesalePrice.ToString("c")</td>
                    <td align="right">
                        @((line.Quantity*line.Product.WholesalePrice).ToString("c"))
                    </td>
                }
                else
                {
                    <td align="right">@line.Product.RetailPrice.ToString("c")</td>
                    <td align="right">
                        @((line.Quantity * line.Product.RetailPrice).ToString("c"))
                    </td>
                }
               
            </tr>

        }

    </tbody>

    <tfoot>
        <tr>

            <td colspan="3" align="right">Total:</td>

            <td align="right">

                @Model.Cart.ComputeTotalValue(User.IsInRole("Wholesale") ? "Wholesale" : "Retail").ToString("c")

            </td>

        </tr>
    </tfoot>

</table>

<p align="center" class="actionButtons">

    <a href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")

</p>


